**/.obsidian/*
!Calendar/vault/.obsidian/app.json
!Calendar/vault/.obsidian/core-plugins.json
!Calendar/vault/.obsidian/daily-notes.json
!Calendar/vault/.obsidian/templates.json
!Calendar/vault/.obsidian/types.json
!Foodiary/vault/.obsidian/plugins/
Foodiary/vault/.obsidian/plugins/*
!Foodiary/vault/.obsidian/plugins/templater-obsidian/
!Foodiary/vault/.obsidian/plugins/templater-obsidian/data.json
!Fastimer/vault/.obsidian/plugins/
Fastimer/vault/.obsidian/plugins/*
!Fastimer/vault/.obsidian/plugins/templater-obsidian/
!Fastimer/vault/.obsidian/plugins/templater-obsidian/data.json
**/.trash/
